<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href ="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <title>bitChecking</title>
</head>
<body>
<div class="navbar navbar-expand  navbar-dark bg-dark">
    <div class = "container">
        <div class ="col-md-4">
            <a class = "navbar-brand" href="/">Home</a>
        </div>
        <div class ="col-md-4">
            <a class = "navbar-brand" href="/">Community</a>
        </div>
    </div>
</div>
<hr>


<div class="coinTable" style="width:400px; float:left; margin:20px">
    <form>
        <select name="one_exchange">
            <option value="1">바이낸스</option>
            <option value="2">업비트</option>

        </select>
        <select name="other_exchange">
            <option value="1">바이낸스</option>
            <option value="2">업비트</option>
        </select>
    </form>

    <table class="table">
        <thead>
        <th scope="col">코인명</th>
        <th scope="col">바이낸스</th>
        <th scope="col">업비트</th>
        <th scope="col">시세 차이</th>
        </thead>

        <tbody>
        <tr>
            <th scope="row">비트코인</th>
            <td th:text="${price_one}">123</td>
            <td th:text="${price_other}">1234</td>
            <td th:text="${diff}">1234</td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>