<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>bitChecking</title>
    <link rel="stylesheet" href="css/home.css">

</head>
<body>
<div class="topMenu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/community">Community</a></li>
    </ul>
</div>
<hr>


<div class="coinTable">
    <form>
        <select name="one_exchange">
            <option value="1">바이낸스</option>
            <option value="2">업비트</option>

        </select>
        <select name="other_exchange">
            <option value="1">바이낸스</option>
            <option value="2">업비트</option>
        </select>
    </form>

    <table border="1">
        <th>코인명</th>
        <th>바이낸스</th>
        <th>업비트</th>
        <tr>
            <td>비트코인</td>
            <td th:text="${price_one}">123</td>
            <td th:text="${price_other}">1234</td>
        </tr>

    </table>
</div>

</body>
</html>